extends layout

block custHead
	script(type='text/javascript', src='scripts/user.js')

block content
	div #{user}
	if strats
		div #{user}'s strategies:
		each strat in strats
			div.strat(id='#{strat.stratName}')
				a(href='/u/#{user}/#{strat.stratName}') #{strat.stratName}
				|/#{strat.map}
